html {
    font-size: large;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: large;
    background-color: #F3F4F6;
    margin: 10px;
}

header, #header-title {
    font-size: 50px;
    padding: 10px;
    background-color: #1F2937;
    color: #111827;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    padding: 20px;
    margin: 4%;
}

.login-form {
    position: relative;
    background-color: #FFFFFF;
    padding: 40px 30px;
    width: 100%;
    max-width: 450px;
    border-radius: 6px;
    border: 2px solid #F3F4F6;
    overflow: hidden;
}

.socials-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.socials-btn {
    border: none;
    border-radius: 10px;
}

.socials-btn > img {
    width: 70px;
    height: 40px;
}

.form-header{
    color: #111827;
    padding: 10px;
}

.form-header p{
    margin: 4px;
}

#divider {
    display: flex;
    align-items: center;
    gap: 10px;
}

#divider span {
    white-space: nowrap;
}

#divider::before,
#divider::after {
  content: '';
  flex: 1;    
  height: 1px;
  background-color: #ccc;
}

.form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.input-group {
    position: relative;
    display: flex;
}

.input-field {
    height: 45px;
    padding-inline: 10px;
    border: 1px solid #111827;
    border-radius: 6px;
    width: 100%;
    outline: none;
}

#password {
    padding-right: 30px;
}

.floating-label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #c6c8cc;
    padding-inline: 6px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    gap: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-btn--submit {
    background-color: rgb(69, 69, 233);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    transition: background-color .3 ease;
}