*, *::before, *::after {
 	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-image: radial-gradient(circle at 0% 0%, var(--primary) 0.5px, transparent 0.5px),
                  radial-gradient(circle at 50% 50%, var(--secondary) 0.5px, transparent 0.5px), url(../img/repo-bg.jpg)
}

html, body{
    min-height: 100vh;
}

:root {
  --text: #ffffff;
  --background: #000000;
  --background-2: #001600;
  --primary: #009900;
  --secondary: #990099;
  --accent: #160016;
}

body{
    background: var(--background);
    color: var(--text);
}

a{
    color: var(--text);
}
