html {
    font-size: large;
}

body {
    background: #b87e3b97;
    color: rgb(0, 0, 0);
}

table, caption, tr, th, td {
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}