html {
    font-size: large;
}

body {
    background: #b87e3b97;
    color: rgb(0, 0, 0);
}

table, caption, tr, th, td {
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

a{
    color: rgb(15, 13, 10);
}

a:visited {
    color: rgb(215, 86, 86);
}

a:hover, a:active {
    color: rgb(56, 31, 199);
}

hr {
    border: 1px solid #000;
}

