*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#trading-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

#trading-form input,
#trading-form select,
#trading-form textarea,
#trading-form button{
    width: 100%;
    padding: 8px;
}

.trade-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

table,
th,
td{
    padding: 10px;
}